<% content_for :page_title, formatted_title('Sessions') %>

<div class='container mx-auto max-w-7xl px-2 py-2'>

<div class='flex justify-center py-8'>
    <div class='w-1/3'>
    <div class='flex flex-col min-w-full gap-y-4'>
        <div>
            <%= button_to 'Sign in with Discord', '/auth/discord', form_class: 'rounded-md bg-color1 hover:bg-color2 px-3.5 py-2.5 text-sm font-semibold shadow-sm', data: { turbo: false } %>
        </div>
        <div class=''>
            <%= button_to 'Sign in with Github', '/auth/github', form_class: 'rounded-md bg-color1 hover:bg-color2 px-3.5 py-2.5 text-sm font-semibold shadow-sm', data: { turbo: false } %>
        </div>
        <div>
            <%= button_to 'Sign in with Google', '/auth/google_oauth2', form_class: 'rounded-md bg-color1 hover:bg-color2 px-3.5 py-2.5 text-sm font-semibold shadow-sm', data: { turbo: false } %>
        </div>
    </div>
    </div>
</div>
     
</div>


