service: default
runtime: ruby32

instance_class: F1
entrypoint: bundle exec rails s -p $PORT

env_variables:
  # Required for Google Cloud APIs
  PROJECT_ID: '<project id>'
  LOCATION_ID: 'europe-west'
  SERVICE_NAME: 'default'
  # RAILS
  RAILS_ENV: "production"
  RAILS_MASTER_KEY: "e8..."
  RAILS_SERVE_STATIC_FILES: true
  # OAuth
  GITHUB_KEY: 'github'
  GITHUB_SECRET: 'xxx'
  GOOGLE_CLIENT_ID: 'google'
  GOOGLE_CLIENT_SECRET: 'xxx'
  DISCORD_CLIENT_ID: 'discord'
  DISCORD_CLIENT_SECRET: 'xxx'