<% content_for :page_title, formatted_title('Profile') %>

<div class='bg-custom1'>
    <div class='mx-auto max-w-7xl bg-neutral'>
        
        <div class='container flex flex-row space-x-2'>
            <nav class='px-4 py-2 w-1/6 flex flex-col bg-custom1'>
                NAVIGATION
                <a href='#' class=''>Nav</a>
                <a href='#' class=''>Nav</a>
                <a href='#' class=''>Nav</a>
                <a href='#' class=''>Nav</a>
            </nav>
            <div class='px-1 py-2 w-3/6 bg-neutral'>
            CONTENT
            </div>
            <div class='px-1 py-2 w-2/6 bg-custom1'>
            SIDEBAR
            </div>       
        </div>

    </div>
</div>
